<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="fancybox/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!-- Навбар -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top"> 
		<div class="container">
			<a class="navbar-brand" href="#"><img src="img/logo.png" alt=""><span>Торты на заказ</span></a>
			<button class="navbar-toggler" type = "button" data-toggle = "collapse"
				data-target = "#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
				</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a href="#header" class="nav-link">Главная</a>
					</li>
					<li class="nav-item">
						<a href="#about" class="nav-link">О нас</a>
					</li>
					<li class="nav-item">
						<a href="#gallery" class="nav-link">Галерея заказов</a>
					</li>
					<li class="nav-item">
						<a href="#contacts" class="nav-link">Контакты</a>
					</li>
				</ul>
			</div>
		</div>		
	</nav>
	<!-- Header -->
	<header class="header" id ='header'>
		<div class="container">
			<div class="row">
				<div class=" overlay col-lg-7">
					<div class="overlay__text text-center">
						<h1 class="header__title">Торты на заказ в Павлодаре</h1>
						<hr class="hr__header">
						<p class="header__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga autem rem, voluptate?</p>
					</div>
				</div>
			</div>
		</div>
	</header>		
	</section>
	<section class="about" id ="about">
		<div class="container">
			<div class="section__title">
				<h2 class="section__header"> О Нас</h2>
				<hr class="hr__section">
				<p class="section__header__text">Лорем инспут долор велит сит амет</p>
			</div>
			<div class="about__blocks">
				<div class="row">
					<div class="col-lg-4">
						<div class="about__block">
							<i class=""></i>
							<i class="fas fas fa-birthday-cake about__icon"></i>
							<h3>Качественные ингредиенты</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci porro autem nobis sunt! Laborum.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="about__block">
							<i class="fas fa-birthday-cake about__icon"></i>
							<h3>Качественные ингредиенты</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci porro autem nobis sunt! Laborum.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="about__block">
							<i class="fas fa-birthday-cake about__icon"></i>
							<h3>Качественные ингредиенты</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci porro autem nobis sunt! Laborum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about__bio">
			<div class="conainer">
				<div class="row">
					<div class="col-lg-7 overlay__bio">
						<div class="row">
							<div class="col-lg-4 bio__image">
							 	<img src="img/shef-heat.png" class="img-fluid" alt="">
							</div>
						<div class="col-lg-8 bio__text">
								<h2>Наша Биография</h2>
								<hr>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus porro explicabo similique odit quisquam vel error obcaecati praesentium dolor cum.</p>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="fancybox/jquery.fancybox.pack.js"></script>
	<script src="fancybox/helpers/jquery.fancybox-buttons.js"></script>
	<script src="js/main.js"></script>
</body>
</html>

