<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="fancybox/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!-- Навбар -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top"> 
		<div class="container">
			<a class="navbar-brand" href="#"><img src="img/logo.png" alt=""><span>Торты на заказ</span></a>
			<button class="navbar-toggler" type = "button" data-toggle = "collapse"
				data-target = "#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
				</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a href="#header" class="nav-link" data-value = 'header' >Главная</a>
					</li>
					<li class="nav-item">
						<a href="#about" class="nav-link" data-value = 'about' >О нас</a>
					</li>
					<li class="nav-item">
						<a href="#gallery" class="nav-link" data-value = 'gallery' >Галерея заказов</a>
					</li>
					<li class="nav-item">
						<a href="#contacts" class="nav-link" data-value = 'contacts' >Контакты</a>
					</li>
				</ul>
			</div>
		</div>		
	</nav>
	<!-- Header -->
	<header class="header" id ='header'>
		<div class="container">
			<div class="row">
				<div class=" overlay col-lg-7">
					<div class="overlay__text text-center">
						<h1 class="header__title">Торты на заказ в Павлодаре</h1>
						<hr class="hr__header">
						<p class="header__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga autem rem, voluptate?</p>
					</div>
				</div>
			</div>
		</div>
	</header>		
	</section>
	<section class="about" id ="about">
		<div class="about__commerce">
			<div class="container">
				<div class="section__title">
					<h2 class="section__header"> О Нас</h2>
					<hr class="hr__section">
					<p class="section__header__text">Лорем инспут долор велит сит амет</p>
				</div>
				<div class="about__blocks">
					<div class="row">
						<div class="col-lg-4">
							<div class="about__block">
								<i class=""></i>
								<i class="fas fas fa-birthday-cake about__icon"></i>
								<h3>Качественные ингредиенты</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci porro autem nobis sunt! Laborum.</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="about__block">
								<i class="fas fa-birthday-cake about__icon"></i>
								<h3>Качественные ингредиенты</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci porro autem nobis sunt! Laborum.</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="about__block">
								<i class="fas fa-birthday-cake about__icon"></i>
								<h3>Качественные ингредиенты</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci porro autem nobis sunt! Laborum.</p>
							</div>
						</div>
					</div>
					<hr class="hr__lower" style="margin-top: 170px;">
				</div>
			</div>
		</div>
		<div class="about__bio">
			<div class="conainer">
				<div class="row">
					<div class="col-lg-7 overlay__bio">
						<div class="row">
							<div class="col-lg-4 bio__image">
							 	<img src="img/shef-heat.png" class="img-fluid" alt="">
							</div>
						<div class="col-lg-8 bio__text">
								<h2>Наша Биография</h2>
								<hr>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus porro explicabo similique odit quisquam vel error obcaecati praesentium dolor cum.</p>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>
	<section class="gallery" id="gallery">
		<div class="container">
			<div class="section__title">
				<h2 class="section__header">Наши работы</h2>
				<hr class="hr__section">
				<p class="section__header__text">Лорем инспут долор велит сит амет</p>
			</div>
			<div class="gallery__content">
				<div class="row">
					<div class="col-lg-4 thumb">
						<a class="fancyimage" rel="group" data-fancybox="gallery" href="photo/cake (1).jpg">
	                	<img class="img-fluid"  src="photo/cake (1).jpg" alt="">
	            	</a>
					</div>
					<div class="col-lg-4 thumb">
						<a class="fancyimage" rel="group" data-fancybox="gallery" href="photo/cake (2).jpg">
	                	<img class="img-fluid"  src="photo/cake (2).jpg" alt="">
	            		</a>
					</div>
					<div class="col-lg-4 thumb">
						<a class="fancyimage" rel="group" data-fancybox="gallery" href="photo/cake (3).jpg">
	                	<img class="img-fluid"  src="photo/cake (3).jpg" alt="">
	            		</a>
					</div>
					<div class="col-lg-4 thumb">
						<a class="fancyimage" rel="group" data-fancybox="gallery" href="photo/cake (4).jpg">
	                	<img class="img-fluid"  src="photo/cake (4).jpg" alt="">
	            		</a>
					</div>
					<div class="col-lg-4 thumb">
						<a class="fancyimage" rel="group" data-fancybox="gallery" href="photo/cake (5).jpg">
	                	<img class="img-fluid"  src="photo/cake (5).jpg" alt="">
	            		</a>
					</div>
					<div class="col-lg-4 thumb">
						<a class="fancyimage" rel="group" data-fancybox="gallery" href="photo/cake (6).jpg">
	                	<img class="img-fluid"  src="photo/cake (6).jpg" alt="">
	            		</a>
					</div>
				</div>
			</div>
			<!-- <hr  class="hr__lower" style="margin-top: 75px;"> -->
		</div>
	</section>
	<section class="contacts" id = "contacts" data-value = 'contacts'>
		<div class="container">
			<div class="section__title">
				<h2 class="section__header">Как с нами связаться</h2>
				<hr class="hr__section">
				<p class="section__header__text">Свяжитесь с нами, что бы оставить заявку на Ваш заказ.</p>
				<div class="contacts__content">
					<div class="row">
						<div class="col-lg-4 contacts__content__text ml-auto">
							<ul>
								<li><i class="fas fa-phone-square contacts__icon"></i><i class="fab fa-whatsapp-square contacts__icon"></i> <span>Телефон / WhatsApp :</span> +7 777 777 77 77</li>
								<li><i class="fas fa-envelope-square contacts__icon"></i> Email: xxxxx@xxx.com</li>
								<li><i class="fas fa-map-marker-alt contacts__icon "></i> Адрес:  Lorem ipsum dolor sit amet, consectetur.</li>
							</ul>
						</div>
						<div class="col-lg-4 mr-auto">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156093.5304299878!2d76.82471702022795!3d52.316702688380126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42f9cad6074f811d%3A0x480e9e038c41819b!2z0J_QsNCy0LvQvtC00LDRgCAxNDAwMDAsINCa0LDQt9Cw0YXRgdGC0LDQvQ!5e0!3m2!1sru!2sru!4v1565362991911!5m2!1sru!2sru" class="map" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
		</div>
	</section>
	<footer class="footer" id = "footer">
		<div class="social__media">
			<p>Мы в социальных сетях: </p>
			<div class="social__media__icons">
				<i class="fab fa-instagram social__media__icon"></i>
				<i class="fab fa-vk social__media__icon"></i>
				<i class="fab fa-odnoklassniki social__media__icon"></i>
			</div>	
		</div>
		
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="fancybox/jquery.fancybox.pack.js"></script>
	<script src="fancybox/helpers/jquery.fancybox-buttons.js"></script>
	<script src="js/main.js"></script>
</body>
</html>

